{# @var fee \App\Entity\AdditionalFee #}

{% if field.value is not empty %}
{#    {{ dump(field) }}#}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">{{ 'Name'|trans({}, 'estate-rent-admin') }}</th>
            <th scope="col">{{ 'Fee payment'|trans({}, 'estate-rent-admin') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for fee in field.value %}
            {% set feeDetailUrl = ea_url()
                .setController('App\\Controller\\Admin\\AdditionalFeeCrudController')
                .setAction(constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Action::DETAIL'))
                .setEntityId(fee.id) %}
            <tr>
                <th scope="row">
                    <a href="{{ feeDetailUrl }}" style="display: block" target="_blank">
                        {{ fee|trans({}, 'estate-rent-admin') }}
                    </a>
                </th>
                <td>
                    {% include 'admin/field/additional_fee/detail/additional_fee_payment.html.twig'with {'field':{'value':fee.additionalFeePayments}} %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    {{ 'No records'|trans({}, 'estate-rent-admin') }}
{% endif %}
