{# @var recipe \App\Entity\RentalRecipe #}
{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}

{% if ea.crud.currentPage == 'detail' %}
    {% if field.formattedValue is not empty %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">{{ 'Amount'|trans({}, 'estate-rent-admin') }}</th>
                <th scope="col">{{ 'Validity From'|trans({}, 'estate-rent-admin') }}</th>
                <th scope="col">{{ 'Validity To'|trans({}, 'estate-rent-admin') }}</th>
                <th scope="col">{{ 'Note'|trans({}, 'estate-rent-admin') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for recipe in field.formattedValue %}
                <tr>
                    <th scope="row">
                        {{ recipe.basicRent|format_currency('CZK') }}
                    </th>
                    <td>
                        {{ recipe.validityFrom|date('d. m. Y') }}
                    </td>
                    <td>
                        {% if recipe.validityTo is not null %}
                            {{ recipe.validityTo|date('d. m. Y') }}
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                    <td>
                        {{ recipe.note }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ field.value|format_currency('CZK') }}
    {% endif %}
{% endif %}
{% if ea.crud.currentPage == 'index' %}
    {% if field.formattedValue is not empty %}
        {% for recipe in field.formattedValue %}
            {% if loop.last %}
                {{ recipe.basicRent|format_currency('CZK') }}
            {% endif %}
        {% endfor %}
    {% else %}
        {{ field.value|format_currency('CZK') }}
    {% endif %}
{% endif %}
